In [2]:
# Import necessary libraries
import csv
import random
from faker import Faker

# Initialize Faker
fake = Faker()

# Input the number of rows the CSV file should have
num_rows = int(input("Enter the number of rows the CSV file should have: "))

# Input the name of the CSV file (e.g., data.csv)
csv_file = input("Enter the name of the CSV file (e.g., data.csv): ")

# Create the header
header = ['First Name', 'Last Name', 'Gender', 'DateOfBirth', 'Email', 'Phone Number', 
          'Address', 'City', 'State', 'Postal Code', 'Country', 'LoyaltyProgramID']

# Open the CSV file and write data
with open(csv_file, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    
    # Write header to the CSV file
    writer.writerow(header)

    # Loop and generate multiple rows
    for _ in range(num_rows):
        row = [
            fake.first_name(),
            fake.last_name(),
            random.choice(['M', 'F', 'Others', 'Not Specified']),
            fake.date_of_birth(minimum_age=18, maximum_age=90).strftime("%Y-%m-%d"),  # Ensures realistic DoB
            fake.email(),
            fake.phone_number(),
            fake.address().replace(",", " ").replace("\n", " "),  # Ensures address formatting
            fake.city(),
            fake.state(),
            fake.postcode(),
            fake.country(),
            random.randint(1000, 9999)  # More realistic Loyalty Program ID
        ]

        # Write row to CSV
        writer.writerow(row)

# Display success message in Jupyter Notebook
print(f"CSV file '{csv_file}' with {num_rows} rows has been created successfully.")

# Verify the first few rows by reading the file (for Jupyter Notebook display)
import pandas as pd

df = pd.read_csv(csv_file)
df.head()  # Display the first few rows in the notebook

Enter the number of rows the CSV file should have: 1000
Enter the name of the CSV file (e.g., data.csv): DimCustomerData.csv
CSV file 'DimCustomerData.csv' with 1000 rows has been created successfully.

,First Name,Last Name,Gender,DateOfBirth,Email,Phone Number,Address,City,State,Postal Code,Country,LoyaltyProgramID
0,Molly,Rodriguez,Not Specified,1976-04-25,deannamoore@example.net,001-432-731-9886x9850,891 Howard Valley Suite 244 Neilville CA 11943,South Kevin,Nebraska,68666,Benin,9343
1,Janet,Hernandez,F,1978-09-08,dannymaldonado@example.com,001-731-429-0605x051,391 Bobby Walk South Allison VT 92387,South Deniseside,Florida,64805,Senegal,9486
2,Jillian,Orozco,Others,1962-06-26,fweaver@example.org,+1-557-436-3752x98557,728 Charles Street Apt. 748 South Tammy ME 96511,Lake Lisaton,Indiana,89509,Saint Lucia,6407
3,William,Holmes,Not Specified,1990-09-25,fcampbell@example.org,(709)389-8304x254,0857 Singh Terrace Sabrinaton MP 74348,West Tammyport,Iowa,37570,India,4567
4,Hector,Aguilar,Not Specified,1965-04-26,fdodson@example.com,(256)267-5631x5562,90307 Spencer Walk Apt. 664 North Katherine A...,South Gregory,California,23422,Congo,1270